<div class="row">
<div class="jumbotron">
  <h1 class="display-4">Vinyl Destination</h1>
  <hr class="my-4">
  <p class="lead">
      <div class="col-md-6">
          <%= image_tag "vinyl-svg", class: "home-image" %>
      </div>
    <a class="btn btn-primary btn-lg" href="#" role="button">Go Browsing</a>
    <%= link_to "Create Listing", new_vinyl_path, class:"btn btn-primary btn-lg" %>
  </p>
</div>
</div>