<tbody>
<% @users.each do |user| %>
<tr>
  <td><%= user.title %></td>
  <td><%= link_to 'Show', vinyl %></td>
  <td><%= link_to 'Edit', edit_vinyl_path(vinyl) %></td>
  <td><%= link_to 'Destroy', vinyl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>